@use "./partials/mixins" as *;

body {
  justify-self: center;
  place-content: center;
}

#root {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: inherit;
  width: 100%;
  height: 100%;

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    box-sizing: border-box;
    margin-bottom: 8rem;

    @include tablet {
      gap: 2rem;
    }
  }

  &__cannon {
    width: 3rem;
    position: absolute;
    left: 1rem;
    bottom: 2rem;

    @include tablet {
      width: 5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__bubble-start {
    height: 2rem;
    width: 2rem;
    position: absolute;
    content: "";
    bottom: 4.5rem;
    left: 3.2rem;
    border-radius: 50%;
    animation: colorChangeMobile 8s linear infinite;
    pointer-events: auto;

    @include tablet {
      height: 4rem;
      width: 4rem;
      bottom: 6rem;
      left: 4.8rem;
    }

    &:hover {
      cursor: pointer;
    }

    &.false {
      display: none;
    }
  }

  &__try-me {
    width: fit-content;
    position: absolute;
    left: 0.5rem;
    bottom: 4rem;
    transform: rotate(-40deg);

    @include tablet {
      left: 1rem;
      bottom: 5.3rem;
    }
  }

  &__bubble-counter {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      color: red;
      margin: 0;

      &:last-of-type {
        color: green;
        margin-top: 0.3rem;
      }
    }
  }

  &__scores {
    list-style: none;
    font-size: 0.8rem;
    background-color: rgb(255, 192, 203);
    margin: 0;
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    outline: none;
    border: none;
    box-shadow: 0 0.15rem 0.5rem 0.05rem rgba(0, 0, 0, 0.26);
    z-index: -1;

    @include tablet {
      font-size: 1rem;
      flex-direction: column;
      width: max-content;
      align-self: flex-start;
      padding: 1rem 1.5rem;
    }

    @include desktop {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }

    & .loading {
      margin: 0;

      & > div {
        width: 3rem;
        display: inline-flex;

        & > span {
          font-family: "Courier New", Courier, monospace;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block; /* Use inline-block for span to apply width */
          width: 0; /* Start hidden */
          animation: typing 2s steps(3, end) infinite,
            blink 0.5s step-end infinite;
        }
      }
    }

    & li {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      @include tablet {
        width: 100%;
      }
    }

    & .player {
      &__position {
        font-weight: 700;
      }

      &:first-of-type {
        & span:first-of-type {
          color: rgb(255, 255, 126);
          text-shadow: -0.01rem 0.03rem 0.05rem rgb(0, 0, 0);
        }
      }

      &:nth-of-type(2) {
        & span:first-of-type {
          color: #d8d8d8;
          text-shadow: -0.01rem 0.03rem 0.05rem rgb(0, 0, 0);
        }
      }

      &:last-of-type {
        & span:first-of-type {
          color: #b08d57;
        }
      }
    }
  }
}

/* Typing animation */
@keyframes typing {
  0% {
    width: 0; /* Start with no visible text */
  }
  50% {
    width: 2ch;
  }
  100% {
    width: 3ch; /* Matches the number of characters ("...") */
  }
}

/* Blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
